.root {
    -fx-background-color: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
}

.tooltip {
    -fx-background-color: #1F7F89;
    -fx-font-size: 12;
}

.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.label {
    -fx-font-size: 14;
}

.error-label
{
    -fx-text-fill: red;
}

#startRecordingButton {
    -fx-background-image: url('Images/record.png');
    -fx-background-color: transparent;
    -fx-background-size: 100 100;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#stopRecordingButton {
    -fx-background-image: url('Images/stop.png');
    -fx-background-color: transparent;
    -fx-background-size: 100 100;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#runScenarioButton {
    -fx-background-image: url('Images/play.png');
    -fx-background-color: transparent;
    -fx-background-size: 100 100;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#infoButton {
    -fx-background-image: url('Images/info.png');
    -fx-background-color: transparent;
    -fx-background-size: 100 100;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#moveRightButton {
    -fx-background-image: url('Images/arrow_right.png');
    -fx-background-color: transparent;
    -fx-background-size: 40 40;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#moveLeftButton {
    -fx-background-image: url('Images/arrow_left.png');
    -fx-background-color: transparent;
    -fx-background-size: 40 40;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#moveUpButton {
    -fx-background-image: url('Images/arrow_up.png');
    -fx-background-color: transparent;
    -fx-background-size: 40 40;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#moveDownButton {
    -fx-background-image: url('Images/arrow_down.png');
    -fx-background-color: transparent;
     -fx-background-size: 40 40;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}


/* Disable blue glowing frames around controls*/

.button:focused,
.toggle-button:focused,
.radio-button:focused > .radio,
.check-box:focused > .box,
.menu-button:focused,
.choice-box:focused,
.color-picker.split-button:focused > .color-picker-label,
.combo-box-base:focused,
.slider:focused .thumb {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

.scroll-pane:focused,
.split-pane:focused,
.list-view:focused,
.tree-view:focused,
.table-view:focused,
.tree-table-view:focused,
.html-editor:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}

.radio-button > .radio, .radio-button:focused > .radio  {
    -fx-background-radius: 1.0em;
    -fx-padding: 0.333333em;
}

.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-prompt-text-fill: transparent;
}

.text-area:focused .content {
    -fx-background-color:
        linear-gradient(from 0px 0px to 0px 4px, derive(-fx-control-inner-background, -8%), -fx-control-inner-background);
    -fx-background-radius: 2;
}

.scroll-bar:focused {
    -fx-background-color: derive(-fx-box-border,30%), linear-gradient(to bottom, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%));
    -fx-background-insets: 0, 1 0 1 0;
}
.scroll-bar:vertical:focused {
    -fx-background-color: derive(-fx-box-border,30%), linear-gradient(to right, derive(-fx-base,-3%), derive(-fx-base,5%) 50%, derive(-fx-base,-3%));
    -fx-background-insets: 0, 0 1 0 1;
}
